
{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'swinfo/css/swinfo.css' %}">
<h1>{{ movie.title }}</h1>
</head>
<table style="width:100%">
 <tr>
   <th>Nombre</th>
   <th>Número de episodio</th>
   <th>Fecha de lanzamiento</th>
   <th>Director</th>
   <th>Productor(es)</th>
 </tr>
 <td>{{ movie.title }}</td>
 <td>{{ movie.episode_id }}</td>
 <td>{{ movie.release_date }}</td>
 <td>{{ movie.director }}</td>
 <td>{{ movie.producer }}</td>
 </table>

<h2>Personajes:</h2>
<table style="width:20%",>
{% for key, value in characters.items %}

 <tr>
   <td class="click"><a href = "{% url 'character_detail' value %}">{{key}}</a></td>
 </tr>
{%endfor%}
</table>

<h2>Naves:</h2>
<table style="width:20%",>
{% for key, value in starships.items %}

 <tr>
   <td class="click"><a href = "{% url 'ships_detail' value %}">{{key}}</a></td>
 </tr>
{%endfor%}
</table>

<h2>Planetas:</h2>
<table style="width:20%",>
{% for key, value in planets.items %}

 <tr>
   <td>{{key}}</td>
 </tr>
{%endfor%}
</table>

<h2>Introducción:</h2>
<p>{{movie.opening_crawl}}</p>
