{% load static %}

<link rel="stylesheet" href="{% static 'swinfo/css/swinfo.css' %}">
<h1 style="font-family:Arial">Resultados de la búsqueda:</h1>

<form action="/search/" method="get">
        <input type="text" name="q">
        <input type="submit" value="Buscar">
</form>

<table style="width:20%">
 <tr>
   <th>Películas</th>
 </tr>
{% for movie in movies%}
  {% for film in movie.results %}
    <tr>
      <td class="click"><a href = "{% url 'detail' film.episode_id %}">{{ film.title }}</a></td>
    </tr>
  {% endfor %}
{% endfor %}
</table>
<h1></h1>
<table style="width:20%">
 <tr>
   <th>Personajes</th>
 </tr>
{% for character in characters%}

    <tr>
      <td class="click"> <a href="{% url 'character_detail' character.id%}">{{ character.name }}</a></td>
    </tr>

{% endfor %}
</table>

<h1></h1>
<table style="width:20%">
 <tr>
   <th>Planetas</th>
 </tr>
{% for planet in planets%}

    <tr>
      <td class="click"> <a href="{% url 'planet_detail' planet.id%}">{{ planet.name }}</a></td>
    </tr>

{% endfor %}
</table>

<h1></h1>
<table style="width:20%">
 <tr>
   <th>Naves</th>
 </tr>
{% for ship in ships%}

    <tr>
      <td class="click"> <a href="{% url 'ship_detail' ship.id%}">{{ ship.name }}</a></td>
    </tr>

{% endfor %}
</table>
